
#Topo{
	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 600px;
}

.grid {
	display: flex;
	width: 300px;
	height: 300px; 
	flex-wrap: wrap;
	min-width: 300px;
    max-width: 300px;
}

.square {
	display: flex;
	height: 100px;
	width: 100px;
	border: solid black 1px;
}

#titulo{
	text-align: center;
}
.mole{
	background-image: url("https://res.cloudinary.com/dqlvldxwc/image/upload/v1697625721/100_qbiwp6.png");
}

.components{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2px;
	margin-bottom: 8px;
}

