.grid {
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

#titulo{
	text-align: center;
}
.mole{
	background-image: url("https://res.cloudinary.com/dqlvldxwc/image/upload/v1697453608/topo_jtcy3h.png");
}

