* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #1b51ce;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    align-items: center;
  }
  .logo{
    text-align: left;
  }
  .menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
  
  .menu ul,
  .menu li {
    font-size: 16px;
    display: grid;
    text-align: center;
   
  }
  
  .sidebar {
    background-color: #FF7755;
    
    grid-row: 2/4;

  }
  
   .sidebar .side-content {
    background-color: rgb(135, 74, 192);
    color: black;
    font-size: 16px;
    font-weight: normal;
    grid-column: 1/2;
    border: 1px solid black;
    margin: 200px 0 200px 0;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .nav {
    background-color: rgb(135, 74, 192);
    display:grid;
    grid-column: 2/3;
    grid-template-columns: 1fr;
  }
  .nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    display:grid;
    
  }
  
  .article {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 15px; 
    grid-column: 2/3;
  }
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #ffed4e;
    color: black;
    text-align: center;
    height: 200px;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    height: auto;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  
  .footer {
    background-color: #393f4d;
    grid-column: 1/3;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;  
  }